body {
  background: #0e1217;
  color: #989eae;
  font-size: 14px;
  margin: 0;
}


.token.comment,
.token.prolog {
  white-space: pre-wrap;
}

.dashboard-container {
  display: grid;
  grid-template-columns: 350px auto;
  overflow: hidden;

  .left-container {
    height: 100vh;
    overflow-y: auto;
    padding: 10px;
    padding: 20px;
    border-right: 1px solid #989eae;

    .eachHeading {
      &:not(:last-child) {
        margin-bottom: 1rem;
      }

      h5 {
        font-size: 14px;
        line-height: 18px;
        color: #a8b3cf;
        font-weight: 800;
      }

      ul {
        padding: 0;
        margin: 0;
        list-style: none;

        li {
          a {
            display: block;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            align-items: center;
            position: relative;
            padding: 5px 15px 5px 0;
            width: 100%;
            color: #a8b3cf;
            text-decoration: none;
            font-size: 0.9rem;
            font-weight: 400;

            &:hover {
              color: #04AA6D;
            }

            &:not(:last-child) {
              &:after {
                content: " ";
                position: absolute;
                display: inline-block;
                border-left: 2px solid #000;
                opacity: .1;
                height: 20px;
                left: 17px;
                top: 25px;
                z-index: 2;
              }
            }

            svg {
              width: 16px;
              margin-right: 5px;
            }

            &.completed {
              svg {
                path {
                  fill: #04AA6D;
                }
              }
            }

          }
        }
      }
    }
  }

  .right-container {
    padding: 40px;
    max-height: 100vh;
    overflow-y: auto;

    .each_code {
      position: relative;
      border-radius: 8px !important;
      margin-bottom: 15px;
      border: 0.2px solid #a8b3cf;
      box-shadow: 0 6px 6px -2px #00000066;

      p {
        color: #fff;
        background: #2ecc71;
        display: inline-block;
        padding: 2px 15px;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 4px 0 4px;
        font-size: 15px;
        font-weight: 600;
      }
    }



    pre {
      margin: 0 !important;
      background: #1c1f26;
      border-radius: 8px !important;
    }
  }
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  background: none;
  color: yellow;
}