body {
  background: #202228 url("/Images/diagonal-stripes-010.png");
  color: #989eae;
  font-size: 14px;
  margin: 0;
  padding: 15px 0 30px;
}

.page_wrap {
  max-width: 1000px;
  margin: 0 auto;
  border: 1px solid #454545;

}

.c-navbar {
  border-bottom: 1px solid #454545;
  position: relative;
  padding: 20px;

  h1 {
    color: #ffff;
    font-size: 2em;
  }

  p {
    margin: 0;
    padding: 0;
  }

  img {
    max-width: 200px;
    margin: 0 auto;
    display: table;
  }
}

.dashboard-container {
  display: grid;
  grid-template-columns: 300px auto;
  overflow: hidden;

  .left-container {
    height: 100vh;
    border-right: 1px solid #454545;
    padding: 10px;

    .accordion {
      background: none;

      .accordion-header {
        padding: 8px 20px;
      }

      .accordion-body {
        padding: 0;
        max-height: 600px;
        overflow-y: auto;
      }

      .accordion-item {
        background: #282a36;
        border: none;
        padding: 0;

        &:not(:last-child) {
          border-bottom: 0.5px solid #f3e1e1;
        }
      }

      h2 {
        color: #fff;

      }

      button {
        background: none;
        color: #fff;
        padding: 10px 0;
        border: none;
        box-shadow: none;

        &:focus {
          border: none !important;
          box-shadow: none;
        }

        &:after {
          background-color: #fff;
          border-radius: 50%;
          padding: 3px;
          width: 20px;
          height: 20px;
          display: flex;
          align-items: center;
          justify-content: center;
        }
      }
    }

    /* Custom CSS for simple tick mark */
    .tick {
      position: relative;
      display: inline-block;
      width: 15px;
      height: 15px;
      border: 2px solid #2ecc71;
      /* Change this to the desired color */
      border-radius: 3px;
      margin-left: 10px;
      margin-bottom: -3px;
    }

    .tick::before {
      content: '\2713';
      /* Unicode checkmark character */
      font-size: 10px;
      color: #2ecc71;
      /* Same color as the border */
      position: absolute;
      top: 50%;
      left: 50%;
      transform: translate(-50%, -50%);
    }

    .sub-list {
      list-style: disc;
      margin: 0;
      padding: 10px 30px;

      li {
        color: #fff;
        font-size: 14px;
        line-height: 1.5;

        &:not(:last-child) {
          margin-bottom: 10px;
        }

      }
    }


  }

  .right-container {
    padding: 10px;
    max-height: 600px;
    overflow-y: auto;

    .each_code {
      background: #282A36 !important;
      position: relative;
      border-radius: 4px !important;
      margin-bottom: 15px;

      p {
        color: #fff;
        background: #2ecc71;
        display: inline-block;
        padding: 2px 15px;
        position: absolute;
        right: 0;
        top: 0;
        border-radius: 0 4px 0 4px;
        font-size: 15px;
        font-weight: 600;
      }
    }



    pre {
      margin: 0 !important;
      background: #282A36 !important;
      border-radius: 4px !important;
    }
  }
}

.language-css .token.string,
.style .token.string,
.token.entity,
.token.operator,
.token.url {
  background: none;
  color: yellow;
}