<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript Learning</title>
    <link rel="icon" type="image/x-icon" href="Images/favicon.png">
    <!-- External CSS Files -->
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.0.0/css/font-awesome.css"
      integrity="sha512-72McA95q/YhjwmWFMGe8RI3aZIMCTJWPBbV8iQY3jy1z9+bi6+jHnERuNrDPo/WGYEzzNs4WdHNyyEr/yXJ9pA=="
      crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/prism.css">
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div class="page_wrap">
      <div id="app">
        <div class="topNavbar">

        </div>
        <div class="dashboard-container">
          <div class="left-container">
            <div class="eachHeading" v-for="(item, index) in topics" :key="index">
              <h5>{{ item.name }}</h5>
              <ul>
                <li v-for="(itemList,index) in item.list" :key="index">
                  <a :href="'index.html#' + itemList.id">
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" v-if="itemList.complete">
                      <path d="M256 512A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209L241 337c-9.4 9.4-24.6 9.4-33.9
                    0l-64-64c-9.4-9.4-9.4-24.6 0-33.9s24.6-9.4 33.9 0l47 47L335 175c9.4-9.4 24.6-9.4 33.9 0s9.4 24.6 0
                    33.9z" fill="#04AA6D" />
                    </svg>
                    <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 512 512" v-else>
                      <path
                        d="M256 48a208 208 0 1 1 0 416 208 208 0 1 1 0-416zm0 464A256 256 0 1 0 256 0a256 256 0 1 0 0 512zM369 209c9.4-9.4 9.4-24.6 0-33.9s-24.6-9.4-33.9 0l-111 111-47-47c-9.4-9.4-24.6-9.4-33.9 0s-9.4 24.6 0 33.9l64 64c9.4 9.4 24.6 9.4 33.9 0L369 209z"
                        fill="#333333" />
                    </svg>
                    {{itemList.name}}
                  </a>
                </li>
              </ul>
            </div>
          </div>
          <!-- /language-javascript line-numbers -->
          <div class="right-container">
            <div class="each_code" id="variable_var">
              <p>var Variable</p>
              <pre><code>
// !Var
/*
1. scope - 'var' is function scope. meaning it is only available within the function where it declared.
2. Hosting - Variables declared with 'var' are hosted to top of thier scope, which means you can use them before they
are declared
3. Reassignment - 'var' allows redeclaration and reaasignment
*/

exampleVar();
function exampleVar() {
if (true) {
console.log(x);
var x = 10;
let y = 10;
console.log(x);
console.log(y);
}
console.log(x);
}
              </code></pre>
            </div>
            <div class="each_code" id="variable_let">
              <p>let Variable</p>
              <pre><code>
// ! let
/*
1. scope - 'let' is block scoped. meaning it is only available within the block(enblosed by curly braces) where it is
declared.
2. Hosting - Variables declared with 'let' are hoisted to the top of their block but are not initialized. You cannot use
them before the declaration.
3. Reassignment - 'let' allows reassignment but not redeclaration in the same scope.
*/

console.log("let example start here");
exampleLet();
function exampleLet() {
if (true) {
let x = 20;
console.log(x);
}
// console.log(x);
}
              </code></pre>
            </div>
            <div class="each_code" id="variable_const">
              <p>const Variable</p>
              <pre><code>
// ! const
/*
1. Scope - Like 'let' , 'const' is block-scoped
2. Hosting - Variables declared with 'const' are hoisted to the top of their block but like 'let' are not initialized.
You cannot use them before the declaration.
3. Reassignment - 'const' is used for constants; its value cannot be reassigned after declaration.
*/

exampleConst();
function exampleConst() {
if (true) {
const z = 20;
console.log(z);
}
}

              </code></pre>
            </div>
            <div class="each_code" id="2-0">
              <p>Array Length</p>
              <pre><code>let colors = ["red", "green", "blue"];
console.log("Colors Length" + " " + colors.length);
// Colors Length 3
colors.length = 5;
console.log("Colors Length" + " " + colors);
// Colors Length red,green,blue,,
colors.length = 0;
console.log(colors);
// Empty
</code></pre>
            </div>
            <div class="each_code">
              <p>Push()</p>
              <pre><code>let sectionAStundets = ["mani", "Ravi", "Raju"];
let sectionBStudents = ["Ram", "Sai", "Kishore"];
// sectionAStundets.push(sectionBStudents);
console.log("Overall Students " + " " + sectionAStundets);
sectionAStundets.push(...sectionBStudents);
console.log("Overall Students " + " " + sectionAStundets);
// !Key Notes
/*
1. Starting from ES6, you can use the spread operator
*/
</code></pre>
            </div>

            <div class="each_code" id="array_looping">
              <p>for loop</p>
              <pre><code>// * for loop
let schoolNames = [
  "Maple Elementary School",
  "Oakridge High School",
  "Pinecrest Middle School",
  "Willowbrook Academy",
  "Sunset Elementary",
  "Greenwood Middle School",
  "Riverside High School",
  "Meadowbrook Elementary",
  "Hilltop Academy",
  "Valley View School",
];
// * Direct DOM Manipulation:
const getOutputElement = document.getElementById("schoolsNames");
for (let i = 0; i < schoolNames.length; i++) {
  const liElement = document.createElement("li");
  liElement.textContent = schoolNames[i];
  getOutputElement.appendChild(liElement);
}

// * Generating HTML Content:
const schoolOutputElement = document.getElementById("displaySchoolNames");
// Hold the HTML content
let htmlConent = "";
for (let i = 0; i < schoolNames.length; i++) {
  // concatenate each scholl name to html content
  htmlConent += "<li>" + schoolNames[i] + "</li>";
}
schoolOutputElement.innerHTML = "<ul>" + htmlConent + "</ul>";

const teluguMovieHeroes = [
  "Mahesh Babu",
  "Allu Arjun",
  "Prabhas",
  "Jr. NTR",
  "Ram Charan",
  "Nani",
  "Vijay Deverakonda",
  "Pawan Kalyan",
  "Naga Chaitanya",
  "Ravi Teja",
];

// Task 1: Display hero names using direct DOM manipulation with a for loop
const outputDisplayHeroNames = document.getElementById("displayHeroNames");
const ulElement = document.createElement("ul");
for (let i = 0; i < teluguMovieHeroes.length; i++) {
  const liElement = document.createElement("li");
  liElement.textContent = teluguMovieHeroes[i];
  ulElement.appendChild(liElement);
}
outputDisplayHeroNames.appendChild(ulElement);// Task 2: Display hero names using forEach method
const outputDisplayHeroNames2 = document.getElementById("displayHeroNames2");
const ulElement2 = document.createElement("ul");
teluguMovieHeroes.forEach((hero) => {
const liElement = document.createElement("li");
liElement.textContent = hero;
ulElement2.appendChild(liElement);
});
outputDisplayHeroNames2.appendChild(ulElement2);

/* --> for loop
1. The for loop requires you to specify the initialization, condition, and increment/decrement steps explicitly.
2. It is more flexible and can be used for iterating over arrays, strings, or any iterable objects.
3. Allows you to break or continue the loop based on certain conditions.
Commonly used when you need more control over the iteration process, such as iterating over a subset of array elements
or iterating in reverse.
*/

/* --> for each
1. The forEach method is a higher-order function available on arrays.
2. It takes a callback function as an argument and executes that function once for each element in the array.
3. It automatically handles the iteration process, so you don't need to specify initialization, condition, or
increment/decrement steps.
4. Does not support breaking or continuing the loop. It always iterates over all elements in the array.
Commonly used for simple iterations where you just need to perform a task on each element of the array.
*/

/* --> Summary
In summary, the for loop provides more control and flexibility over the iteration process, while the forEach method
offers a simpler and more concise way to iterate over array elements. The choice between them depends on your specific
requirements and coding style.
*/</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>

    <!-- External Script Files -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"
      integrity="sha384-IQsoLXl5PILFhosVNubq5LC7Qb9DXgDA9i+tQ8Zj3iwWAwPtgFTxbJ8NT4GN1R8p" crossorigin="anonymous">
    </script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/js/bootstrap.min.js"
      integrity="sha384-cVKIPhGWiC2Al4u+LWgxfKTRIcfu0JTxR+EQDz/bgldoEyl4H0zUF0QKbrJ0EcQF" crossorigin="anonymous">
    </script>
    <script src="/js/bootstrap.bundle.min.js"></script>
    <script src='/js/prism.js'></script>
    <script src="/js/vue.js"></script>
    <script src="/data/data.js"></script>
    <script src="/js/app.js"></script>
    <script>
      // Initialize Bootstrap accordion component
      var accordions = document.querySelectorAll('.accordion');
      accordions.forEach(function (accordion) {
        new bootstrap.Collapse(accordion, {
          toggle: false // To allow only one item to be open at a time
        });
      });
    </script>
  </body>
</html>