<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>JavaScript Learning</title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/themes/prism.min.css" />
    <link rel="stylesheet" href="/css/prism.css">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
      integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    <link rel="icon" type="image/x-icon" href="Images/favicon.png">
    <link rel="stylesheet" href="/css/app.css" />
  </head>
  <body>
    <div class="page_wrap">
      <div class="c-navbar">
        <h1>JavaScript Learning</h1>
        <p>Code your dreams into reality with the brush of JavaScript.</p>
      </div>

      <div id="app">
        <div class="dashboard-container">
          <div class="left-container">
            <div class="accordion" id="topicsAccordion">
              <div v-for="(item, index) in topics" :key="index" class="accordion-item">
                <h2 class="accordion-header">
                  <button class="accordion-button" type="button" data-bs-toggle="collapse"
                    :data-bs-target="'#collapse' + index" aria-expanded="true" :aria-controls="'collapse' + index">
                    <span>{{ item.id }}. {{ item.name }}</span>
                    <div class="tick" v-if="item.completed"></div>
                  </button>
                </h2>
                <div :id="'collapse' + index" class="accordion-collapse collapse" :aria-labelledby="'heading' + index"
                  data-bs-parent="#topicsAccordion">
                  <div class="accordion-body">
                    <ul class="sub-list">
                      <li v-for="(item,index) in item.list" :key="index">
                        {{item.name}}
                        <div class="tick" v-if="item.completed"></div>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
          <!-- /language-javascript line-numbers -->
          <div class="right-container">
            <div class="each_code">
              <p>Array Length</p>
              <pre><code>let colors = ["red", "green", "blue"];
console.log("Colors Length" + " " + colors.length);
// Colors Length 3
colors.length = 5;
console.log("Colors Length" + " " + colors);
// Colors Length red,green,blue,,
colors.length = 0;
console.log(colors);
// Empty
</code></pre>
            </div>
            <div class="each_code">
              <p>Push()</p>
              <pre><code>let sectionAStundets = ["mani", "Ravi", "Raju"];
let sectionBStudents = ["Ram", "Sai", "Kishore"];
// sectionAStundets.push(sectionBStudents);
console.log("Overall Students " + " " + sectionAStundets);
sectionAStundets.push(...sectionBStudents);
console.log("Overall Students " + " " + sectionAStundets);
// !Key Notes
/*
1. Starting from ES6, you can use the spread operator
*/
</code></pre>
            </div>
          </div>
        </div>
      </div>
    </div>



    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
      integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL" crossorigin="anonymous">
    </script>
    <script src='//cdnjs.cloudflare.com/ajax/libs/prism/1.23.0/prism.js'></script>
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
    <script src="./js/data.js"></script>

    <!-- External Files -->
    <script src="./js/arrays.js"></script>
    <script src="./js/map_filder_reduce.js"></script>
    <script src="./js/app.js"></script>
    <script src="./js/variables.js"></script>
  </body>
</html>